* {
    margin: 0;
    padding: 0;
}

.app {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.app__wrapper {
    background-color: gainsboro;
    color: black;
    font-size: 18px;
    font-weight: bold;
    width: 600px;
    margin: 0 auto;
}

.app__item {
    margin: 20px 0;
    padding: 20px;
}